i{
    color: aquamarine;
    font-size: 18px;
}
a{
    padding: 0px 30px;
    font-size: 25px;
}
div{
        background-color: aqua;
        padding: 0%;
        height: 50px;
        width: 100%;
}